.toastMassege .toast-header{
    top: 903px;
    left: 35px;
    width: 436px;
    height: 9px;
    background: transparent linear-gradient(91deg, #6DD41F 0%, #409500 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}


.toastMassege .MuiPaper-root {
    background-color: white !important;
    color:black !important;
    border-top: 2px solid linear-gradient(91deg, #6DD41F 0%, #409500 100%)  !important;
}

