.fileInTask{
    /* overflow: auto; */
    /* display: inline-block; */
    background-color: #EDFBFC !important;
    padding: 0px;
    color: #358A8D;
    min-width:208px;
    max-width: min-content;
    height: 66px;
}
.imgFileInTask a img,
.imgFileInTask img
{
    height: 64px;
    width: 88px !important;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
}

.fileNotImgInTask a img,
.fileNotImgInTask  img{
    height: 64px;
    width: 88x !important;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
}
.fontAwesomeIconFile
{
    height: 64px;
    width: 75px !important;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 4px;
}
.imgActionFile{
  cursor: pointer;

}
.pdfFile{
    color:red

}
.nameFileInTask{
    text-align: left;
    font: normal normal medium 13px/15px Roboto;
    letter-spacing: 0px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    display: -webkit-box;
    font-size: small;
}
{
    display: inline-block;
}



.imgFileInTask{
    padding-left: 0px;
}

.nameFileAndAction{
    padding-right: 4px;
}

.sizeFile{
    color: #98A9BC;
    font-size: small
}