.row-projects{
    /* height: 10vh; */
    background-color:#fffcfd ;
    border: 1px solid #FF65A6;
    border-radius: 6px;
    
}
select{
    border: none!important;
    color: #FF65A6;

}
select:focus{
    outline: none;
}
option{
    border: none !important;
    color: #FF65A6;
}
a{
    color: #98A9BC!important;
    display: inline-block;
    float: right;
    
}