.warkspace-platform{
    background-color:white;
    height: 75vh;
    border-radius: 12px; 
}
.warkspace-paltform-show{
border:none;
font-size: x-large;
background-color: transparent;
color:#778CA2;
}
.warkspace-paltform-show:focus{
    outline: 0;
}
.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #778CA2;
  }
  .border-bottom{
      background-color:#EAEAEA;
      
  }