.headerserch{
    width: 75vw;
height: 13vh;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 8px;
opacity: 1;
margin: 0px -40px;
}

.Category{
  margin: 0px 5px;
}

#dropdown-basic{
  width: 8vw;
height: 46px;
background: #EEE5FC 0% 0% no-repeat padding-box;
border: 1px solid #EEE5FC;
border-radius: 8px;
opacity: 1;
color: #9F61FF;
text-align: center;
margin: 0px 40px;
}
#project{
  background: #FCF7E5 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 1px #00000012;
border-radius: 2px;
opacity: 1;
  color:#FEAB06;
}
#task {
  background: #EEE5FC 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 1px #00000012;
  border-radius: 2px;
  opacity: 1;
  color: #9F61FF;
}
.input_task_or_project{
  width: 18vw;
height: 46px;
background: #EEE5FC 0% 0% no-repeat padding-box;
border-radius: 8px;
opacity: 1;
color:#B5B9C9;
margin: 0px 95px;
}
.date{
  width: 10vw;
height: 46px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #979797;
border-radius: 8px;
opacity: 1;
text-align: center;
}
#inputText{
  margin: 0px 10px;
    width: 90%;
    height:60%;
    border: none;
    border-bottom: none;
    background-color:#EEE5FC;
}
#date1{
  border:white;
  cursor: pointer;
  width: 9vw;
}
#date1:focus{
   outline:none;
}
#workpas{
  background-color: #ffe6e6;
  color:   #ff3333;
}
#inputText{
  margin: 0px 10px;
    width: 22vw;
    height:70%;
    border: none;
    border-bottom: none;
    background-color:#EEE5FC;
}

#inputText:focus {
 border:none;
 background-color: #F1F1F3;
 outline:none;
 
} 
.START{
width: 25vw;
height: 46px;
background: #5E81F4 0% 0% no-repeat padding-box;
border-radius: 8px;
opacity: 1;
color:WHITE;
cursor: pointer;
text-align: center;
margin: 0px 10px;
}
.Type{
  margin: 0px 45px;
}
.Do{
  margin: 0px 75px;
}
.type_category{
  text-align: center;
width: 9vw;
height:46px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #979797;
border-radius: 8px;
opacity: 1;
color: #8181A5;
margin: 0px -80px;

}
