

.borderTop  .modal-dialog .modal-content{
    border-top: 7px solid #1FB9C1;
    -webkit-border-image: -webkit-gradient(91deg, #339E9B 0%, #41CFCE 100%) 21 30 30 21 repeat repeat;

}

.borderTop  .modal-dialog .modal-content .modal-header{
    padding: 0.5rem 1rem;
    border-bottom: none;

}

.borderTop  .modal-dialog{
    margin-top: 30vh;
}

.borderTop .modal-dialog .modal-content .modal-footer{
    border-top: none;
}

.cancelModalDelete{
    color: #1FB9C1;
    background-color: white;
    border: 2px solid #1FB9C1 !important;
}
.cancelModalDelete:hover{
    color: #1ca6ad;
    border: 2px solid #1ca6ad !important;
    background-color: white;

}

.deleteInModalDelete:hover{
    background-color: #1ca6ad;

}
.deleteInModalDelete{
    background-color: #1FB9C1;

}

.borderTop  .modal-dialog  .modal-content .modal-body{
    text-align: center;
}

.displayNone{
    display: none !important;
}