/* body {
  background-color: #c4ccd5;
} */
:root {
  --red:#ffd2d2;
  --redBorder: #ff9898;
  --yellowBorder: rgb(253 238 101);
  --yellow: rgb(255 247 171);
  --orangeBorder: #ffd16d;
  --orange:#ffde95;
}
.p-gantt-status{
  position: absolute;
  top: -4px;
  left: 20%;
}
.gantt_status_right{
  /* position: absolute;
    left: 10px;
    top: 3px; */
  border-radius: 15px !important;
  color: white !important;
  font-weight: 300;
  /* opacity: 0.9; */
  margin: auto;
  height: 83% !important;
  width: 18% !important;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  font-weight: 400;
  display: inline-block !important;
}
.gantt_side_content{
  /* width:100% !important; */
  font-size: 12px !important;
  font-family: 'Roboto' !important;
}
.gantt_task_content {
  color: #778CA2 !important;
}

.gantt_cell,
.gantt_cell_tree {
  width: 900px;
}
.gantt_tree_icon,
.gantt_file {
  display: none;
}

.gantt_task_row {
  display: none;
}
.gantt_row, .gantt_task_row{
  /* border:unset !important */
}
.gantt_line_wrapper {
  display: none;
}

.gantt_add {
  display: none;
}

.last-weekend{
  background: #adadad1a !important;
  color:  #636363 !important;
}
.weekend {
  background: #68c7cb1a !important;
  color:  #68C7CB !important;
  font-weight: 800 !important;
}
.gantt_task_line{
  z-index: 3;
}
/* .gantt_task_line{
  box-shadow: 0px 3px 6px #00000029;
} */
.gantt_task_line:hover{
  box-shadow: 0px 3px 6px #00000029;
}
.gantt_task_content{
  font-weight: bold;
  /* text-align: left !important; */
  /* padding-left: 14px !important; */
}
.yellowBorder .gantt_task_progress {
  background : linear-gradient(to right, var(--yellowBorder) 0%, var(--yellowBorder) 100%);
  color: white;
}
.yellowBorder .gantt_task_content{
  background-color:var(--yellow) !important;
  /* background-color:rgb(255 242 126) !important; */
}
.gantt_task_line.gantt_selected.yellowBorder {
  box-shadow: 0 0 5px var(--yellowBorder) !important;
}
.gantt_task_line.yellowBorder {
  background-color:var(--yellow) !important;
  border-radius: 5px !important;
  border:var(--yellowBorder) 3px solid !important;
  color: white !important;
}
.yellowBorder:hover {
  border-left: var(--yellowBorder) 10px solid !important;
  border-right: var(--yellowBorder) 10px solid !important;
  color: white !important;
}
.redBorder .gantt_task_content{
  background-color:var(--red) !important;
}
.gantt_task_line.gantt_selected.redBorder {
  box-shadow: 0 0 5px var(--redBorder) !important;
}
.gantt_task_line.redBorder  {
  background-color:var(--red) !important;
  border-radius: 5px !important;
  border:  3px solid var(--redBorder)!important;
}
.redBorder:hover {
  border-left: var(--redBorder) 10px solid !important;
  border-right: var(--redBorder) 10px solid !important;
}

.redBorder .gantt_task_progress {
  position: absolute;
  background: linear-gradient(to right,var(--redBorder),  var(--redBorder))  !important;
  text-align: end;
  align-items: end;
}
.gantt_task_line.gantt_selected.orangeBorder {
  box-shadow: 0 0 5px var(--orangeBorder) !important;
}
.orangeBorder .gantt_task_content{
  background-color:var(--orange) !important
}
.gantt_task_line.orangeBorder {
  background-color:var(--orange) !important;
  border-radius: 5px !important;
  border:  var(--orangeBorder) 3px solid !important;
  /* background-color: white !important; */
}
.orangeBorder:hover {
  border-left: var(--orangeBorder) 10px solid !important;
  border-right: var(--orangeBorder) 10px solid !important;
}
.orangeBorder .gantt_task_progress {
  position: relative;
  background-color: white !important;
  text-align: right !important;
  align-items: right !important;
  align-content: right !important;
}
.gantt_task_progress {
  background: var(--red);
}

.gantt_tree_content{
  font-weight: 900;
}
.bbb{
  display: none !important;
}
/* .gantt_task_progress_drag{display:none !important}
.gantt_hor_scroll{
  overflow: hidden !important;
} */
.gantt_task_progress_drag{
  display: none !important
}
.gantt_layout_cell.gantt_hor_scroll{
  height: 11px !important;
}
.gantt_delete_button{
  background:red;
}

.link_cancel_btn{
  background-color: #34A38B  !important;
  background: #34A38B !important;
}

.gantt_popup_title ,.dhtmlx_popup_title{
  background-color: #ecfbf8 !important;
}
.gantt_popup_button ,.dhtmlx_popup_button ,.gantt_link_cancel_btn_button ,.dhtmlx_link_cancel_btn_button{
  background-color:#ecfbf8 !important;
}
.today{
  /* display: none; */
  /* left: 0px !important; */
  background-color: rgb(218, 246, 247) !important;
  width: 40px !important;
  margin-left: -16px !important;
  z-index: 1!important;
  opacity: 0.5 !important;
  min-height: 100vh !important;
  height: 100%;
  border-left: 2px solid #68C7CB;
  border-right: 2px solid #68C7CB;
}
.today-scale{
  color:#68C7CB !important;
  /* background-color: rgb(218, 246, 247) !important; */
  border-left: 2px solid #68C7CB;
  border-right: 2px solid #68C7CB !important;
}
.gantt_marker_content {
  color: black !important;

}
.milestones_{
  /* margin-left: -3vh !important;
  margin-right: -3vh !important; */
  vertical-align: middle !important;
  background-color: #3598F4 !important;
  height: 100vh !important;
  z-index: 4;
}
.milestones_ > .gantt_marker_content{
  background-image: url("../../assets/img/milstone.svg") !important;
  background-repeat: no-repeat !important;
  color: transparent !important;
  width: 5vh;
  padding: 11px !important;
  margin-top: 30vh;
  margin-left: -2.5vh;
  background-color: transparent !important;
  opacity: 1;

  /* padding-top: 2px !important; */
  /* padding-bottom: 2px !important; */



}
/* .gantt_ver_scroll {
  overflow: scroll;
} */

.gantt_grid_data .gantt_row.odd:hover,
.gantt_grid_data .gantt_row:hover,
.gantt_grid_data .gantt_row.gantt_selected,
.gantt_grid_data .gantt_row.odd.gantt_selected, 
.gantt_task_row.gantt_selected
 {
  background-color:#68c7cb1a !important;
}
.important{
  text-align: start;
  display: flex;
  align-items: center;
  font-family: 'Roboto' !important;
}

.gantt_link_control div{
  border-radius: unset !important;
  height:20px !important;
  width:2px !important;
  margin-top: -12.5px !important;
  border: 1px dotted white !important;
  background-color:white !important;
}

.gantt_link_control.task_left div{
  margin-right: -10px !important;
}
.gantt_link_control.task_right div{
  margin-left: -10px !important;
}

.gantt_data_area::-webkit-scrollbar{
  display:block;
}
.gantt_row, .gantt_task_row{
  /* border-bottom: none !important; */
}
.not-show-task-gantt{
  display: none !important;
}
.task-name-gantt{
  align-items: center;
  color: grey !important;
  font-weight :500 !important;
  margin-left: 2vw;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  cursor: pointer !important;
  text-align: left;
  /* display: flex; */
  /* align-items: center; */
  font-family: 'Roboto' !important;
}
.gantt_layout_cell.gantt_hor_scroll{
  height: 17px !important;
}
.gantt_layout_cell.gantt_layout.gantt_layout_x.gantt_layout_cell_border_transparent.gantt_layout_cell_border_bottom{
  height: 317px !important;
}
.gantt_layout_cell.scrollHor_cell{
  position: absolute;
  bottom:12px;
}
.gantt_layout_cell.gantt_layout_root.gantt_layout.gantt_layout_y.gantt_container.gantt_layout_cell_border_left.gantt_layout_cell_border_top.gantt_layout_cell_border_right.gantt_layout_cell_border_bottom{
  height: 103% !important;
}
.zoom-label{
  text-align:left !important;
  position: absolute;
  top: 6px;
  left: 20px;
  width: 140px;
}
.gantt_task .gantt_task_scale .gantt_scale_cell,.gantt_task_content{
  font-family: 'Roboto';
}