/* body {
  background-color: #c4ccd5;
} */
.gantt_task_content {
  color: #778CA2 !important;
}

.gantt_cell,
.gantt_cell_tree {
  width: 900px;
}
.gantt_tree_icon,
.gantt_file {
  display: none;
}

.gantt_task_row {
  display: none;
}

.gantt_line_wrapper {
  display: none;
}

.gantt_add {
  display: none;
}

.weekend {
  background: #68c7cb1a !important;
  color:  #68C7CB !important;
  font-weight: 800 !important;
}

.yellowBorder .gantt_task_progress {
  background : linear-gradient(to right, #e9f0af 0%, rgb(218, 199, 24) 100%);
  color: white;
}
.gantt_task_line.yellowBorder {
  border-radius: 5px !important;
  border: rgb(218, 199, 24) 3px solid !important;
  color: white !important;
}
.yellowBorder:hover {
  border-left: rgb(218, 199, 24) 10px solid !important;
  border-right: rgb(218, 199, 24) 10px solid !important;
  color: white !important;
}

.gantt_task_line.redBorder  {
  border-radius: 5px !important;
  border:  3px solid red!important;
  background-color: white !important;
}
.redBorder:hover {
  border-left: red 10px solid !important;
  border-right: red 10px solid !important;
}

.redBorder .gantt_task_progress {
  position: absolute;
  background: linear-gradient(to right,rgb(233, 139, 139),  red)  !important;
  text-align: end;
  align-items: end;
}
.gantt_task_line.orangeBorder {
  border-radius: 5px !important;
  border:  #F8B520 3px solid !important;
  background-color: white !important;
}
.orangeBorder:hover {
  border-left: #F8B520 10px solid !important;
  border-right: #F8B520 10px solid !important;
}
.orangeBorder .gantt_task_progress {
  position: relative;
  background-color: white !important;
  text-align: right !important;
  align-items: right !important;
  align-content: right !important;
}
.gantt_task_progress {
  background: red;
}

.gantt_tree_content{
  font-weight: 900;
}
.bbb{
  display: none !important;
}
/* .gantt_task_progress_drag{display:none !important}
.gantt_hor_scroll{
  overflow: hidden !important;
} */
.gantt_delete_button{
  background:red;
}

.link_cancel_btn{
  background-color: #34A38B  !important;
  background: #34A38B !important;
}

.gantt_popup_title ,.dhtmlx_popup_title{
  background-color: #ecfbf8 !important;
}
.gantt_popup_button ,.dhtmlx_popup_button ,.gantt_link_cancel_btn_button ,.dhtmlx_link_cancel_btn_button{
  background-color:#ecfbf8 !important;
}
.today{
  background-color: rgb(218, 246, 247) !important;
  width: 6vh !important;
  margin-left: -3vh !important;
  z-index: 0!important;
  opacity: 0.5 !important;
  height: 100vh !important;

}

.gantt_marker_content {
  color: black !important;

}
.milestones_{
  /* margin-left: -3vh !important;
  margin-right: -3vh !important; */
  vertical-align: middle !important;
  background-color: #3598F4 !important;
  height: 100vh !important;

}
.milestones_ > .gantt_marker_content{
  background-image: url("../img/milstone.svg") !important;
  background-repeat: no-repeat !important;
  color: transparent !important;
  width: 5vh;
  padding: 11px !important;
  margin-top: 30vh;
  margin-left: -1.5vh;
  background-color: transparent !important;
  opacity: 1;

  /* padding-top: 2px !important; */
  /* padding-bottom: 2px !important; */



}
/* .gantt_ver_scroll {
  overflow: scroll;
} */

.gantt_grid_data .gantt_row.odd:hover,
.gantt_grid_data .gantt_row:hover,
.gantt_grid_data .gantt_row.gantt_selected,
.gantt_grid_data .gantt_row.odd.gantt_selected, 
.gantt_task_row.gantt_selected
 {
  background-color:#68c7cb1a !important;
}
.important{
  text-align: start;
  display: flex;
  align-items: center;
}
/* .gantt_data_area{
  
  overflow-x: scroll !important;
} */
.gantt_data_area::-webkit-scrollbar{
  display:block;
}