.body{
  height: 75.7vh;
  background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;  
    overflow-y: auto!important;
    box-shadow: 0px 3px 6px #00000029;


  }
  @media screen and (min-width: 1600px) {
    .body {
      height: 83vh;
    }
    .card{
      height:75vh !important;
    }
  }
  .cards{
    height: 65vh;
    /* overflow-y: auto; */
  }
  .logoW{
    margin-top: 3vh !important;
    margin-left: 5vh !important;
  }


  
 


/* .drop-dwon-header >.aa{
  border: 1px solid #98A9BC;
  border-radius: 8px;
  opacity: 0.8;
} */
/* .Dropdown-arrow{
  border-width: 5px  5px !important;
}
.Dropdown-control{
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 8px !important;
  opacity: 0.8 !important;
} */
.add-new-pop-up{
margin-top: 15vh;
margin-left: 66.5vw;
}

.add-new-pop-up {
margin-bottom: 10vh;
/* width: 10vw; */
display: none;
}
.MuiButton-label {
  /* display: none !important; */
}
.MuiButtonBase-root:hover .MuiButton-root:hover .MuiButton-text:hover{
  display: block !important;
}
.add-new-pop-up >a{
  color: black !important;
  font-weight: bold;
  cursor: pointer;
}
.add-card-btn:hover{
  color:#00C1C9;
text-decoration: none;
font-weight: 500;
}
.add-card-btn{
  margin-top: 5vh !important;
  font-weight: 500;
  font-size: large;
  color:black;
  cursor: pointer;
}