
.logoWorkspacelist{
     width: 4rem;
    height:4rem;
   border-radius: 50%;
   font-size: 26px;
   padding-top: 10px;
   color: white;
   letter-spacing: 1.72px;
   text-align: center;
   font-family: 'Roboto', sans-serif;
   /* font-size: xx-large; */
   border:none;
      font-weight: 600; 
      
     
}
.Workspace{
   cursor: pointer;
}


.Workspace{
   width: 4rem;
 height: 4rem;
   background: #F6F6FA;
   height: auto;
   margin-bottom: 10px;
   text-align: center;
   justify-content: center;
   align-items: center;
   border-radius: 10px;

   margin-left: 3rem;


}


