.imgTeam{
    border-radius: 50%;
    display: inline-block;
    height: 23px;
    width: 23px;
    background-color: #C4CCD5;
    text-align: left;
    /* font: normal normal bold 15px/20px Roboto; */
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    /* font-size:medium; */
    text-align: center;
    position: relative;
    margin-right: -2px;
}
.imgTeamTabs{
    position: relative;
    border-radius: 50%;
    display: inline-block;
    height: 23px;
    width: 23px;
    background-color: #C4CCD5;
    text-align: left;
    /* font: normal normal bold 15px/20px Roboto; */
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    /* font-size:medium; */
    text-align: center;
    position: relative;
    margin-right: -2px;
}

.marginTeam{
    /* margin-left:-3px; */
    display: inline-block !important;
}
