
.dropright .dropdown-toggle::after {
    display: block !important;

}
.dropdown-menu {
    position: absolute;
    top: 0;

}
.dropdown-menu.show{
    position: absolute !important;
}
.dropdown-submenu-container{
    position: relative !important;

}

.sub-dropdown{
  }
  .sub-dropdown-menu{
    
  }
  .dropdown-menu.show{
      height: 100% !important;
      background-color: transparent !important;
      border:none !important;
  }
  .aa :active{
      /* height: 100%; */
      /* margin-top: 3vh; */
  }
.bb{
    /* display: none; */
    /* height: 10vh;  */
}
.cc{
    height: 100%;
    
}
