.left_nav{
  /* height: calc(100%-55px); */
  height: 100vh;
    background: #0A102E 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  /* border-radius: 0px 80px 0px 0px; */

  
  /* overflow-y: hidden !important; */
  }
.left_nav li{
  color: #FFFFFF;
}
.soon{
color: var(--unnamed-color-ffffff);
text-align: left;
letter-spacing: 0px;
color: #FFFFFF !important;
opacity: 1;
background: transparent linear-gradient(270deg, #44D7B6 0%, #329A80 100%) 0% 0% no-repeat padding-box;
border-radius: 3px;
}
  .list_config{
    padding-top: 8vh;
  }
  ul{
    padding-left: 0;
  }
  li{
    cursor: pointer;
    padding-left: 4vh;
    line-height: 2.8; 
  }
  li p{
    line-height: 1.4 !important; 
  }
  .li-back{
     background: url('../../../img/Mask1.svg');
     border-left:16px solid var(--light-light-blue); 
     left:2.5vh !important ;
     /* border-left: 16px solid #44D7B6 !important;‏ */
}
     li:focus{
    background-color:white;
  }
  li p{
    color: white;
    display: inline-block;
    opacity: 1!important;
  }
  li img{
    display: inline-block;
  }
 
  

 