
.filesForProject{
    background-color: white;
    border-radius: 2%;
    padding: 1vw;
 }
.iconsList{
    text-align: center;
    width: 7rem;
    justify-content: flex-end;
  float: right;
  padding-top: 3rem;
  padding-right: 0;
 }

#title{
    font-family: Roboto;
    font-weight: 700;
    font-size: larger;
    cursor: pointer;
      padding-top: 2rem;
    display: inline-block;
    color: black;
}
.rowIcon{
  font-size: small;
  margin-right: 1.5vw;
}
.cardNameTitle{
  display: inline-block;
  margin-left:2rem ;
}
/* #title{

} */
.iconControl{
    display: inline;
    border-radius: 50%;
    background-color: #38B1B5;
    width: 2rem;
    height: 2rem;
    opacity: 0.5;
  }

  .iconControl:hover{
     cursor: pointer;
  }
  /* .iconControl:enabled{
      background-color: #38B1B5 !important;
  } */
  .iconControl[disabled]{
      background-color: #E8EAEC;
    pointer-events: none;
  }
  .iconControl:disabled{
    background-color: #E8EAEC;
  pointer-events: none;
}
 /* .iconControl:enabled{
      background-color: #38B1B5 !important;
 } */
  .iconControl:active{
  
    background-color: #38B1B5;
  }
  .iconControl:active img{
    color: white;
   }

   .imageIcon{
    height: 1rem;
 }
