.overview{
  height: 82.7vh;
  border-radius: 5px;
    
}
.minHeight{
  min-height:50vh;
}
.projectName{
  width: 100%;
  background-color: white;
}

.divChartAndMembers{
  background-color:white;
  border-radius:0.2em;
}

.scrollbarOverview2{
  width:100%;
}
.scrollOverview{
  overflow-y: scroll;
  height: 87.5vh;
}
.scrollOverview::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.HangoutAndLogs{
  border-radius: 0.2em;
  background-color: white;
}