.scrollbarOverview{
    overflow-y: auto!important;
    height: 82.7vh;
    overflow-x:hidden;
    border-radius: 0.4em;
    
}
.minHeight{
  min-height:50vh;
}
.projectName{
  width: 100%;
  background-color: white;
}

  .divChartAndMembers{
    background-color:white;
    border-radius:0.4em;
  }

.scrollbarOverview2{
  width:100%;
}
.filesOfProject{
  /* border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%; */
border-radius: 5px;
width: 100%;
}