.scrollbarOverview{
    overflow-y: auto!important;
    height: 82.7vh;
    overflow-x:hidden;
}
.minHeight{
    min-height:50vh;
}
.scrollbarOverview::-webkit-scrollbar {
    width: 0;
  }
  .projectName{
    width: 100%;
    border-bottom: 1px solid #E9E9E9;
    background-color: white;
  }