.Workspacegrid{
   cursor: pointer;;

/* color:black; */
font-size: small;

      width: 7rem;
   background-color: #F6F6FA;
   height: 7.8rem;
   margin-bottom: 10px;
   text-align: center;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   margin-right: 1rem;
   /* padding:15px; */
    
}


.stripeToSavePlace{
   color:#ffffff00;
   margin-right: 0.2rem;
    margin-left: 0.2rem;
}
.Workspacegrid:last-child{

}





.okEditWorkspace{
   width: 35px;
   height: 20px;
    background-color:transparent linear-gradient(181deg, #1AFFFC 8%, #007FFF 100%) 0% 0% no-repeat padding-box
}


.add
{
  cursor: pointer;
}
.delet{
   cursor: pointer;
}
.edit{
     cursor: pointer;
}
.name{
   /* font-weight: 650; */
   margin: auto ;
   /* margin-top: 1vh; */
}
.name1{
   /* font-weight: 650; */
   margin: auto ;
   margin-top: 1.5vh;
}
.logo-w{
      width: 2.5rem;
    height:2.5rem;
   border-radius: 50%;
   font-size: 26px;
   color: white;
   letter-spacing: 1.72px;
   /* text-align: 30px; */
   font-family: 'Roboto', sans-serif;
   font-size: 1.6rem;
   /* margin-top:9px; */
}
/* .close{
   cursor: pointer;
} */

/* .toast_header{
   
    display: contents;
  background-color:  transparent linear-gradient(269deg, #1AFFFC 8%, #007FFF 100%) 0% 0% no-repeat padding-box;
} */
.tost{
   position: 'absolute';
   top: 0;
   right: 0;
    background-color: #F5F5F5;

}

.remove{
     position: relative;
    
     
 
       width: 29vw
}
.Undo{
   color: var(--unnamed-color-2bb4fb);
text-align: left;
font: normal normal medium 20px/26px Roboto;
letter-spacing: 0.36px;
background-color:  #F5F5F5 ;
cursor: pointer;
border: 1px solid;
color: #2BB4FB;
border-radius:20px ;
font-weight: 620;
cursor: pointer;
text-align: center;

text-transform: capitalize;
opacity: 0.9;
}
.remove:focus{
   border: none;
   border-bottom: none;
}


.logoWorkspace1{

   margin: auto !important;
    width: 3rem;
    height:3rem;
   border-radius: 50%;
   font-size: 20px;
   padding-top: 4px;
   color: white;
   letter-spacing: 1.72px;
   text-align: center;
   font-family: 'Roboto', sans-serif;
   /* font-size: xx-large; */
   /* margin-top: 30px; */
}
   .name> p{
      color:black !important;
   font:  normal normal 14px/17px Roboto;
   font-weight: 400;

}
.name1> p{
   color:#778CA2 !important;
font:  normal normal 14px/17px Roboto;
font-weight: 400;

}
/*  */
.iconsAction{
   display: none;
}

.imageIcon{
   height: 1rem;
}

.iconsActions{
   text-align: center;
   width: 7rem;
   justify-content: center;
   margin-left: 0.2rem;
}
.description-and-productionDate >p{
   display: inline-block !important;
   text-align: left !important;
   margin-bottom: 0px !important;

}
.productionDateW{
   margin-bottom: 0px !important;

}

.nameWorkspaceInGrid{
   -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    height: 34.5px;
}