.Workspacegrid{
   cursor: pointer;;

color:black;
font-size: small;

      width: 10rem;
   background-color: #F6F6FA;
   height: 10rem;
   margin-bottom: 10px;
   text-align: center;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   margin-right: 1rem;

    
}
.close_remove{
   font-size: x-large;
   cursor: pointer;

}



.okEditWorkspace{
   width: 35px;
   height: 20px;
    background-color:transparent linear-gradient(181deg, #1AFFFC 8%, #007FFF 100%) 0% 0% no-repeat padding-box
}


.add
{
  cursor: pointer;
}
.delet{
   cursor: pointer;
}
.edit{
     cursor: pointer;
}
.name{
   font-weight: 650;
   margin: 28px ;
}
.logo{
      width: 4rem;
    height:4rem;
   border-radius: 50%;
   font-size: 26px;
   padding-top:8px;
   color: white;
   letter-spacing: 1.72px;
   text-align: 30px;
   font-family: 'Roboto', sans-serif;
   font-size: xx-large;
   margin-top: 30px;
}
/* .close{
   cursor: pointer;
} */

/* .toast_header{
   
    display: contents;
  background-color:  transparent linear-gradient(269deg, #1AFFFC 8%, #007FFF 100%) 0% 0% no-repeat padding-box;
} */
.tost{
   position: 'absolute';
   top: 0;
   right: 0;
    background-color: #F5F5F5;

}

.remove{
     position: relative;
    
     
 
       width: 29vw
}
.Undo{
   color: var(--unnamed-color-2bb4fb);
text-align: left;
font: normal normal medium 20px/26px Roboto;
letter-spacing: 0.36px;
background-color:  #F5F5F5 ;
cursor: pointer;
border: 1px solid;
color: #2BB4FB;
border-radius:20px ;
font-weight: 620;
cursor: pointer;
text-align: center;

text-transform: capitalize;
opacity: 0.9;
}
.remove:focus{
   border: none;
   border-bottom: none;
}


      
.name{
   margin-top: 33px;
}



.logoWorkspace1{
    width: 4rem;
    height:4rem;
   border-radius: 50%;
   font-size: 26px;
   padding-top: 8px;
   color: white;
   letter-spacing: 1.72px;
   text-align: center;
   font-family: 'Roboto', sans-serif;
   font-size: xx-large;
   /* margin-top: 30px; */
}
   



