.divFile{
    display: inline-block !important;
}
.uploadFileNew{
    color: #68C7CB;
    height: 15px;
 }

 .spanUploadFileNew{
    display: inline-block;
    background-color: #68c7cb1a;
    border-radius: 5px;
    width: 36px;
    height: 38px;
    text-align: center;
    padding-top: 10px;
 }

 .divFile{
    z-index: 9999;
    position: absolute;
    height: 39px;
    width: 38px;
    /* background-color: yellow; */
 }