.addTaskNotBelong{
    border:1px solid #1FB9C1;
    border-radius: 8px !important;    
    margin-right: 10px;
     padding-right: 32px;
     margin-bottom: 2px;
    margin-top: 2px;
}

.input-group-task-not-belongs1{

     /* z-index: 9999;
    position: fixed;
    background: white;
    overflow: hidden;
    width: 81vw;
    margin-left: 2vh;
    padding-left: 0px;
    height: 20vh;
    min-height: 112px !important; */

}

.input-group-task-not-belongs{
    width: 100%;
    margin: 3%; 
    margin-bottom: 1%;
    margin-left: 0px;
    margin-right: 0px
}

.hrInSelect{
display: inline-block;

}
/* 
.selectWorkspaceInTasksNotBelong,
.selectProjectInTasksNotBelong,
.selectCardInTasksNotBelong{
    display: none;
} */


 .selectWorkspaceInTasksNotBelong .css-yk16xz-control  .css-g1d714-ValueContainer  .css-1uccc91-singleValue .row,
 .selectProjectInTasksNotBelong  .css-yk16xz-control  .css-g1d714-ValueContainer  .css-1uccc91-singleValue .row,
 .selectCardInTasksNotBelong .css-yk16xz-control  .css-g1d714-ValueContainer  .css-1uccc91-singleValue .row
 {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-line-clamp: 1;
    overflow: hidden;
    display: -webkit-box;
}
.selectProjectInTasksNotBelong .css-yk16xz-control  .css-g1d714-ValueContainer  .css-1uccc91-singleValue .row
{
    margin-left: -7px;
    padding-left: 0px !important;
}

.selectWorkspaceInTasksNotBelong .css-yk16xz-control  .css-g1d714-ValueContainer  .css-1uccc91-singleValue .row
{
    margin-left: -7px;
}
.workspaceN{
    padding-left: 0px !important;
}

.dotProject{
    margin-top: 5px;
    margin-left: 6px;
    margin-right: 5px;
}

.divAllTask{
    background: #3598f41c 0% 0% no-repeat padding-box;
    border-radius: 3px;
    height: 36px;
    margin: 3%;
    margin-top: 1%;
}

.logo-w-little {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    font-size: 14px;
    color: white;
    letter-spacing: 1.72px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    margin-right: 6px;
    margin-left:8px;
    display: inline-block !important;
}


.saveSelect{
    background-color: #C4CCD5 !important;
    color: white !important;
    border-radius: 19px;
    padding: 5px;
    letter-spacing: 0px;
    padding-left: 11px;
    padding-right: 11px;
    height: fit-content;
    display: inline;
}

.saveSelectActive{
    background-color: #68C7CB !important;
    border-radius: 19px;
    color:white !important;
    padding: 5px;
    letter-spacing: 0px;
    padding-left: 11px;
    padding-right: 11px;
    height: fit-content;
    display: inline;
}

.saveSelectActive:hover{
    background-color: #2f85d6 !important;
}
.inputSearchTask{
    border-top-left-radius: 50rem !important;
    border-bottom-left-radius: 50rem !important;
    background-color: #54ccb647;
    border-radius: 20px;
    height: 37px;
    border: 0px;
    outline: none;
    border-top-right-radius: 50rem !important;
    border-bottom-right-radius: 50rem !important;
    transition: width 2s;
    height: 32px;
    margin-right: -42px;
    margin-right: 10px;
    background: url(../../../img/imge_search.png) no-repeat #c5ccca47 ;
    background-size: contain;

    background-position: right;
    padding-left: 18px;
    padding-right: 44px;
}
.inputSearchTask {transition-timing-function: ease-in-out;}


.filesInTask:first-child{
    margin-right: 5px;
}

#buttonCancleSelect{
    /* display: none; */
}

#selectProjectInAllTask{
    display: none;
}

.divText{
    font-weight: bolder;
    text-align: left;
    font: normal normal medium 20px/26px Roboto;
    letter-spacing: 0px;
    color: #000000;
    text-transform: capitalize;
}

.workspaceForTask{
    color: var(--unnamed-color-87c5fe);
    text-align: left;
    font: normal normal bold 14px/19px Roboto;
    letter-spacing: 0px;
    color: #87C5FE;
    text-transform: capitalize;
}

.propertiesAllTask{ 
text-align: left;
font: normal normal bold 14px/19px Roboto;
letter-spacing: 0px;
color: #68C7CB;
text-transform: capitalize;
padding-left: 59px;
}

.headerTableTask{
    background: #68c7cb1a  0% 0% no-repeat padding-box !important;
    width: 100%;
}

.allTasks{
    /* margin-top:21vh !important; */
}
.nameTaskNotBelong{
    text-align: left !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.labelAllTask{
    font-weight: bolder;
    text-align: left;
    font: normal normal medium 20px/26px Roboto;
    letter-spacing: 0px;
    color: black !important;
    text-transform: capitalize;
}


.cleanSearchTask{
    position: absolute;
    right: 2.3rem;
    top: 2.0rem;
    z-index: 99;
    width: 11px;
    cursor: pointer;
}

inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.right-addon input { padding-right: 30px; }