

.wrap-input{
    position: relative;
    border:1.5px solid #1FB9C1;
    border-radius: 8px !important; 
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 2px 0 1px 8px ;
}
.addTaskNotBelong{
    /* background: url(../../../img/check-mark.svg) no-repeat ;
    background-size: 18px 18px;
    background-position:left ;
    padding-left: 20px  !important; */
    border: none;
    width: 94%;
    position: relative;
}

.addTaskNotBelong:focus,.addTaskNotBelong:hover{
    outline: none !important;
}
.close-add-task{
    position: absolute;
    right: 5px;
    bottom: 1px;
    margin-bottom: 2px;
    background-color: transparent;
    color: #C4CCD5;
}


.input-group-task-not-belongs{
    width: 100%;
    margin: 3%; 
    margin-bottom: 1%;
    margin-left: 0px;
    margin-right: 0px
}

.icon-complete{
    width: 22px;
    padding-right: 5px;
}
.icon-check-mark{
    width: 22px;
    padding-right: 5px;
    opacity: 20%;
}
.btn-add-task{
    padding: 4px;
    margin: 2px 0;
    color: white;
    border-radius: 6px;
    background-color: #68C7CB;
}
.drop-down{
    position: absolute;
    top:25%;
    right: 25%;
}

 .selectWorkspaceInTasksNotBelong .css-yk16xz-control  .css-g1d714-ValueContainer  .css-1uccc91-singleValue .row,
 .selectProjectInTasksNotBelong  .css-yk16xz-control  .css-g1d714-ValueContainer  .css-1uccc91-singleValue .row,
 .selectCardInTasksNotBelong .css-yk16xz-control  .css-g1d714-ValueContainer  .css-1uccc91-singleValue .row{
    margin-right: 0px;
    margin-left: 0px;
    -webkit-line-clamp: 1;
    overflow: hidden !important;
    display: -webkit-box;
}
.selectProjectInTasksNotBelong .css-yk16xz-control  .css-g1d714-ValueContainer  .css-1uccc91-singleValue .row
{
    margin-left: -7px;
    padding-left: 0px !important;
}

/* .selectWorkspaceInTasksNotBelong .css-yk16xz-control  .css-g1d714-ValueContainer  .css-1uccc91-singleValue .row
{
    margin-left: -7px;
} */
.wrap-not-belong .check-task{
    padding-top:unset !important;
    padding: 0 !important;
}

.wrap-all-task{
    height: 85%;
}

.css-yk16xz-control .css-g1d714-ValueContainer{
  justify-content: start !important;
}

.css-yk16xz-control .css-g1d714-ValueContainer{
    justify-content: center;
}
.workspaceN{
    padding-left: 0px !important;
}
.select-not-belong{
    width: 6vw;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    text-align: left;
}
.project-select-not-belong{
    margin-left:10px;
}
.dotProject{
    margin-top: 9px;
    margin-left: 6px;
    margin-right: 5px;
}

.divAllTask{
    background: #3598f41c 0% 0% no-repeat padding-box;
    border-radius: 3px;
    height: 36px;
    margin: 3%;
    margin-top: 1%;
}

.logo-w-little {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    font-size: 15px !important;
    color: white;
    /* letter-spacing: 1.72px; */
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    margin-right: 6px;
    margin-left:8px;
    display: inline-block !important;
    text-align: center !important;
}
.check-task1 label.col-10{
    text-align: left;
}

.saveSelect{
    background-color: #C4CCD5 !important;
    color: white !important;
    border-radius: 19px;
    padding: 5px;
    letter-spacing: 0px;
    padding-left: 11px;
    padding-right: 11px;
    height: fit-content;
    display: inline;
}

.saveSelectActive{
    background-color: #68C7CB !important;
    border-radius: 19px;
    color:white !important;
    padding: 5px;
    letter-spacing: 0px;
    padding-left: 11px;
    padding-right: 11px;
    height: fit-content;
    display: inline;
}

.saveSelectActive:hover{
    background-color: #007d82 !important;
}
.inputSearchTask{
   width: unset !important;
}
.css-2613qy-menu{
    overflow: hidden !important;
}
/* .inputSearchTask {transition-timing-function: ease-in-out;} */


  

#selectProjectInAllTask{
    display: none;
}

.divText{
    font-weight: bolder;
    text-align: left;
    font: normal normal medium 20px/26px Roboto;
    letter-spacing: 0px;
    color: #000000;
    text-transform: capitalize;
}

.workspaceForTask{
    color: var(--unnamed-color-87c5fe);
    text-align: left;
    font: normal normal bold 14px/19px Roboto;
    letter-spacing: 0px;
    color: #87C5FE;
    text-transform: capitalize;
}

.propertiesAllTask{ 
    text-align: left;
    font: normal normal bold 14px/19px Roboto;
    letter-spacing: 0px;
    color: #68C7CB;
    text-transform: capitalize;
    padding-left: 59px;
}
.hr-place-holder{
    margin-left: 25%;
    border: 0;
    clear: solid;
    display: block;
    width: 7vw;
    background-color: #68C7CB;
    height: 2px;
}
@media only screen and (max-width: 1100px) {
    
    .propertiesAllTask{
        padding-left: 0px !important;
    }
    .hr-place-holder{
        width: 5vw !important;
    }
  }
.btn-open-details .svg-inline--fa{
    vertical-align:-0.2em !important ;
}


.selectWorkspaceInTasksNotBelong{
     margin-left: 7px;
}
.btn-open-details:hover{
    background-color: #E8EAEC;
    border-radius: 5px;
    padding:5px;
}
.headerTableTask{
    background: #68c7cb1a  0% 0% no-repeat padding-box !important;
    /* width: 100%; */
}


.nameTaskNotBelong{
    text-align: left !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.labelAllTask{
    font-weight: bolder;
    text-align: left;
    font: normal normal medium 20px/26px Roboto;
    letter-spacing: 0px;
    color: black !important;
    text-transform: capitalize;
}


.cleanSearchTask{
    position: absolute;
    right: 2.3rem;
    top: 2.0rem;
    z-index: 99;
    width: 11px;
    cursor: pointer;
}

inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.right-addon input { padding-right: 30px; }
.propertiesAllTask {
    text-align: center !important;
}

