.task-card{
    cursor: pointer;
}
.textarea-name-task{
    box-shadow: none !important;
    overflow: hidden !important;
    max-height: 500px;
    resize: none;
    border:none !important;

    /* padding: 0 !important; */
}
.more-task {
    float: right;
  }
  .MuiButton-label-text {
      
  }

/* .check-task input:hover ~ .checkmark{
    background-color:#f6f7f8 !important;
} */
.imgInTask{
    max-width: 100%;
    height: 123px;
    display: block;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border: 0.5px solid #ddd7d7;
}
.task-name-span{
    /* text-indent: 5vh !important; */
    /* display: inline-block !important; */
}
/* .input-card-name{
    height: 65vh !important;
}*/
.p_task > div {
    display: inline-block !important; 
}

.priority-img{
    vertical-align: top !important;
}
.status-task-tabs{
    color:white;
    border-radius: 13px;
   max-width: 110px;
   height: 23px;
   margin-top: 5px;

   /* display: inline-block !important; */

  }
  .status-task-tabs-opacity{
    color:white;
    border-radius: 13px;
    text-align: center;
    font-weight: 300;
    opacity: 0.4;
    max-width: 110px;
    height: 23px;
    margin-top: 5px;

    /* font-weight: 400; */

  }
  
  .icons-task-tabs > img{
      margin-left: 5px;
  }

  @media screen and (min-width: 1200px) {
    /* .icons-task-tabs{
        margin-left:105px ;
    } */
  }

.due-date-icon-tabs{
    display : none;
}

.like-icon-tabs {
    display : none;
}
.icons-task-tabs > div {
    display: inline-block;
}
.due-date-hover p {
    font-size: smaller !important;
    color:#68C7CB!important;
}

.like-hover p{
    font-size: smaller !important;
    color:#68C7CB!important;
    display: inline-block;
    margin-left:10px;

}
.icons-in-task-tabs{
    bottom: 0 !important;
    margin-bottom: 0!important;
    padding-bottom: 0 !important;
}
.autosize:focus{
    border:none !important;
    outline: none !important;
}
.autosize {
    border:none !important;
    padding:10px;
    resize: none;
     /* overflow: hidden; */
     max-height: 78px;
    /* -webkit-box-orient: vertical; 
     -webkit-line-clamp: 4;
    overflow: hidden;
    display: -webkit-box; */
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  }
  .autosize:disabled{
          -webkit-box-orient: vertical; 
     -webkit-line-clamp: 4;
    overflow: hidden;
    display: -webkit-box;
  }
  .autosize:focus{
    overflow-y: scroll !important;

  }
  .autosize::-webkit-scrollbar {
    display: none;
}
.remove-member-from-assign{
    z-index: 99999;
    display:inline-block;
    position: absolute;
    margin-top: -13px;
    color:gray !important;

}
.remove-member-from-assign:hover{
    /* display: block; */
}
  /* .autosize::-webkit-scrollbar-thumb{
    background: white !important; 
  }
  .autosize::-webkit-scrollbar-track{
    box-shadow: none; 
  } */
  .attachment-alt .spanUploadFileNew{
background-color: transparent !important;  
}
.uploadFileIcon{
    cursor: pointer !important;
}