.task-card{
    cursor: pointer;
}
.more {
    /* width: 250px; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* text-align: center; */
  }
  .MuiButton-label-text {
   
    
      /* display: none !important ; */
  }
  /* .task-card .MuiButtonBase-root:hover{
    display: block ;
} */
.check-task input:hover ~ .checkmark{
    background-color:#f6f7f8 !important;
}
/* .input-card-name{
    height: 65vh !important;
}
.delete-task-hover{
    display:none;
} */

.status-task-tabs{
    color:white;
    border-radius: 3px;
    text-align: center;
    font-weight: 300;
    opacity: 0.7;
    width: 53px;
    height: 22px;
    /* font-weight: 400; */

  }
  .icons-task-tabs > img{
      margin-left: 5px;
  }
  @media screen and (min-width: 1000px) {
    .icons-task-tabs{
        margin-left:76px ;
    }
  }
  