.tableProject{
    background: white;
    max-height: 50vh;
     overflow: auto;    
}

.titleProjects{
    font-family: Roboto;
    font-weight: bolder;
    font-size: 18px;
    display: inline-block;
}


.headerProjects{
    height: 64px;
}

.betweenHeaderProjects{
    margin-top: 18px;
    margin-right: 19px !important;
    justify-content: space-between;
    display: flex;
    margin-left: 25px;
    border-bottom: 1px solid #75798E;
    height: 54px;
}

#searchProject{
display: inline-block;
margin-right: 11px;
/* width: 100px; */
}

#iconSearchProject{
    /* right: 175px; */
    /* position: fixed; */
    /* top: 164px; */
    /* margin-right: -40px; */
}


.inputSearchProjects{
    border-top-left-radius: 50rem !important;
    border-bottom-left-radius: 50rem !important;
    background-color: #54ccb647;
    border-radius: 20px;
    height: 40px;
    border: 0px;
    outline: none;
    /* margin-right: -231px; */
    border-top-right-radius: 50rem !important;
    border-bottom-right-radius: 50rem !important;
    transition: width 2s;
    width: 300px;
    margin-right: -42px;
    margin-right: 10px;
    background: url(../../../img/imge_search.png) no-repeat #c5ccca47 ;
    background-position: right;
    padding-left: 18px;
    padding-right: 44px;
}
.inputSearchProjects {transition-timing-function: ease-in-out;}


.buttonNewProject{
    width: 135px;
    height: 40px;
    background: var(--unnamed-color-52c4a9) 0% 0% no-repeat padding-box;
    background: #52C4A9 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color:white;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    text-transform: capitalize;
}
.body .table-responsive{
    /* height: 65vh;
    overflow: auto; */
    /* margin-top: 14vh; */
}


table td, .table th {
    /* padding: 0.20rem !important; */
}
.table{
    margin-bottom: 0 !important;
}