.tableProject{
    background: white;
     height: 50vh;
     overflow: auto;
     width: 88%;
    margin-left: 6%;
}



.table-responsive{
    height: 65vh;
    overflow: auto;
    margin-top: 65px;
}


table td, .table th {
    padding: 0.20rem !important;
}