.tableProject{
    background: white;
     height: 50vh;
     overflow: auto;
    
}



.table-responsive{
    height: 65vh;
    overflow: auto;
    margin-top: 14vh;
}


table td, .table th {
    padding: 0.20rem !important;
}