@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.s-header{
   
        /* width:70vw; */
        /* height:10vh; */
        margin-top: 0;
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 12px;
        opacity: 1;
        
}
.select__control{
        border:none !important;
}
.select__control:active , .css-yk16xz-control:active{
        border:none !important;
        outline: 0 !important;
      
}
.s-header div{
margin-right: 0px;
}


.MuiTab-root{
        min-width: 75px !important;
        /* color:'#00C6EA' !important; */
        text-align: left !important;
       font-size: 10px;
padding-bottom: 0 !important;
padding-top:0 !important;
background-attachment: '#00C6EA' !important;
line-height: 0.95 !important;


}

.MuiTab-root:focus{
        outline: 0 !important;
        color:var(--light-light-blue)  !important;
}
.select__placeholder{
        /* font-size: small !important; */
}
.s-header svg{
        /* margin-right: 30px !important; */
}



