
.grid{
  cursor: pointer;
  
  }
  .list{
  cursor: pointer;
  }
  .MyWorkspace{
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal normal 24px/32px Roboto;
    /* font-size: 26px; */
    letter-spacing: 0px;
    color: #000000;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 2vh;
  }
  .borderBottom{
      border-bottom:#98A9BC 1px solid ;
        display: flex;
      justify-content:space-between; 
     
  }
  .add_w{
    color: #778CA2 !important;
  }
.addWorkspace{
  border:1px #778CA2 dashed ;
}
.addWorkspace:hover
 {
  border: 1px #1f263ccc solid;
}


.addWorkspace:hover  .logo-w{
  background-color: #1f263ccc;
}
.addWorkspace:hover div  .name1 p{
  color:#1f263ccc !important;

}

.logoGif{
  /* margin-top: -5vh; */
  /* margin-left: auto !important;
  width: 10vh !important;
  height: 5vh !important;*/
} 
 
  
  

