
.allWorkspaces{
    overflow: auto;
    height: 87%;
    }

.MyWorkspace{
    color:black;
    font-size: x-large;
    
}
.renderedListWorkspaces{
    margin-Right: 25px; 
   margin-top:20px;

}
hr{
    width: 72rem;
    color:#707070;
}
@media screen and (min-width: 108px){
.grid{
    cursor: pointer;
    
}
}
 @media screen and (min-width: 768px){
.list{
    cursor: pointer;
    
}
<<<<<<< HEAD
}
=======
.scrollbar{
    overflow-y: scroll;
    height: 435px;
}
.scrollbar::-webkit-scrollbar {
    width: 6px;
    /* height: 6px; */
  }
>>>>>>> dev

