.logoW{
    height: 30px;
    width: 30px;
    font-size: small;
    position: absolute;
    z-index: 999;
    left: -0.5vw;
    bottom:0.5vh;
}
.select-workspace{
    position: relative;

}

.select__control .select__value-container  .select__placeholder{
    text-overflow: ellipsis;
    /* Needed to make it work */
    overflow: hidden;
    white-space: nowrap;
}

/* .select-workspace .css-1uccc91-singleValue, .select-workspace .css-1wa3eu0-placeholder,.select-workspace .css-b8ldur-Input{
   margin-left: 2.8vw !important;
   margin-left: calc(2vh + 20px) !important;
} */
.header-w-name{
    width:4vw !important;
}
.header-w-select{
    margin-right: 5px !important;
}
.logo-w-little.header-w-select{
    margin-left:0px !important;
}
.css-5duvv3-control{
    border:none !important;
}
.css-5duvv3-control:hover{
    border:none !important;

}
.css-1okebmr-indicatorSeparator{
display: none!important;


}


