.logoW{
    height: 30px;
    width: 30px;
    font-size: small;
    position: absolute;
    z-index: 999;
    left: -0.5vw;
    bottom:0.5vh;
}
.select-workspace{
    position: relative;

}

.select__control .select__value-container  .select__placeholder{
    text-overflow: ellipsis;
    /* Needed to make it work */
    overflow: hidden;
    white-space: nowrap;
}
.workspace-wrap-logo{
    margin-right: 5px !important;
}
.react-select .select-workspace .css-1sxybcb-control .css-g1d714-ValueContainer{
    padding-left: 0px !important;
}


.css-5duvv3-control{
    border:none !important;
}
.css-5duvv3-control:hover{
    border:none !important;

}
.css-1okebmr-indicatorSeparator{
display: none!important;


}


