@import url("https://fonts.googleapis.com/css?family=Open+Sans");

:root {
  color: #565656;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.7;
}
.modal-header{
  display: block !important;
}

/* 
body {
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */
.thumbnail-contact{
  width:25px;
  height:25px;
  border-radius:50%;
  display: inline-block;
}

.css-tlfecz-indicatorContainer{
  display:none !important;
}

.viewer{
  border: #007bff solid 1px;
}
.editor{
  border: #15cc3e solid 1px;
}
.maneger{
  border: #9f61ff solid 1px;
}

.wrapper {
  background-color: white;
  width: 400px;
  padding: 2rem;
  box-shadow: 0 1.5rem 1rem -1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
}

.inputMails {
  display: block;
  width: 100%;
  height: 45px;
  padding: 0 1rem;
  margin-top: 1rem;
  box-sizing: border-box;
  font: inherit;
  border-radius: 0.2rem;
  border: 2px solid #d4d5d6;
  color: #565656;
  -webkit-appearance: none;
}

.inputMails:focus {
  border-color: cornflowerblue;
  outline: none;
}

.inputMails.has-error {
  border: 2px solid;
  border-color: tomato;
}
.has-error {
  border: 2px solid;
  border-color: tomato;
}

.inputName{
  width: 100% !important;
}

.error {
  margin: 0;
  font-size: 90%;
  color: tomato;
}
.option-contact{
  width: 340px !important;
  /* display: inline-block!important; */
}
/* .assinto-contact{
  display: none;
}
.assinto-contact:hover{
  display: block  !important;
} */
/* .select-dinamic{
  width:150px !important;
} */
.email-contact{
    font-size:13px;
    margin-left: 1vw;
    text-align: right;
    margin-top:1px;
    opacity:0.9;
}
.name-contact{
  /* -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  display: -webkit-box; */
    display: inline-block!important;
    /* margin-left: 2px; */
    color:#75798E !important;
    font-size:15px;
    margin-left: 0.5vw;
    font-weight:400;
    
}.css-tj5bde-Svg {
  display:none !important;
  opacity:0 !important;
}
.choose{
  border: #007bff 2px solid;
   background: white;
   color: #007bff;
}
.css-2b097c-container:focus{
  border:0 !important;
  outline: none !important;
}
.css-tlfecz-indicatorContainer:focus{
  border:0 !important;
  outline: none !important;
}

.logo-contact{
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color:white;
  /* display:inline-block; */
  text-align: center;
  font-size:16px !important;
}

.choose:focus{
  border: #007bff 2px solid;
   background: white;
   color: #007bff;
}
.div_contacts{
    background: white;
    position: absolute;
    z-index: 999999999;
    overflow-x: scroll;
    /* top: 304px;
   left:934px; */
   box-shadow: 0px 3px 6px #00000029;
}
.div_contacts_list{
    overflow-y: auto;
    overflow-x: hidden !important;
    /* height: 400px; */
    }
.invite-button{
  border-radius: 3px;
background-color: #ebe6e6;
font-size: smaller ;
color: #B2B2B2;
height:35px;
text-align:left;
/* display: inline-block; */
}
.div_contacts_list > .form-group{
  margin-bottom: 0 !important;
}
    .invite-contact{
        background-color:#f7f5f5 !important;
/* margin-top: 0.5vh !important;
margin-bottom: 0.5vh !important; */

/* margin-bottom: 2vh !important; */

    }
    /* .invite-btn{
        position: absolute;
    } */
    form {
        /* This bit sets up the horizontal layout */
        display:flex;
        flex-direction:row;
        
        /* This bit draws the box around it */
        border:1px solid grey;
      
        /* I've used padding so you can see the edges of the elements. */
        padding:2px;
      }
      .invite-contact {
        /* Tell the input to use all the available space */
        flex-grow:2;
        /* And hide the input's outline, so the form looks like the outline */
        border:none;
      }