.row-worspaces{
    /* height: 10vh; */
    background-color:#fffcfd ;
    border: 1px solid #FF65A6;
    border-radius: 6px;
    
}

/* option{
    border: none !important;
    color: #FF65A6;
} */
a{
    /* color: #98A9BC; */
    display: inline-block;
    /* float: right; */
    
}
.textLogo{
    margin-left: 10px;
    text-align: end;
    font-weight: bold;
    color: black;
}

.logoW {
    display: inline-block;
    width: 42px;
    height: 42px;
    background: #2BB4FB 0% 0% no-repeat padding-box;
    text-align: center;
    font: normal normal medium 30px/39px Roboto;
    letter-spacing: 1.26px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    border-radius: 50%;
    padding-top: 5px;
    font-size: 19px;
    font-weight: bold;
}