.details-task p{
    text-align: left !important;
}
.menu__{
   
background-color: white;
/* width: 120%; */
box-shadow: 0px 0px 10px #00000034;
overflow-y: auto;

}
.delete-task-hover{
  display: none;
}
.divStatus{
  display: inline-block;
}
.status-list{
    margin-top: 1vh;
    max-height: 150px;
    /* overflow-y: auto; */
    justify-content: center;

}
.menu__ .form-control{
  height: calc(1.1em + .75rem ) !important;
}
.menu__  label{
  margin-top:3px;
  font-size: 11px !important;
}
.d-status{
    /* display: inline-block; */
}
.status-btn{
    margin-top: 55px;
}
@media screen and (min-width: 1550px) {
  #descriptionProject{
    /* height:250px */
  }

}
.create-label{
  background: var(--unnamed-color-75798e) 0% 0% no-repeat padding-box;
background: #75798E 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 0.15;
    margin-top: 1vh ;
    margin-bottom: 3vh ;
    margin:auto ;
    /* vertical-align: middle !important; */

    /* justify-content: center !important; */

/* -ms-transform-origin-x:auto !important;  */
/* opacity: 0.5; */
/* border-top: 1px solid #707070; */
}
#milestones{
    border-radius: 5px;
    background-color: #EDF8F6 !important;
}
.simpleTextarea{
    font-size: 24px;
    font-weight: 500;
    /* line-height: 15px; */
    min-height: 0;
    padding-bottom: 4px;
    padding-top: 4px;
}
.simpleTextarea.simpleTextarea--dynamic {
    border-color: transparent !important;
}
textarea{
    overflow:auto;
    text-rendering: optimizeSpeed;
    width: 100%;
    /* color: #98A9BC !important; */
}
textarea:focus{
       outline-color: #98A9BC !important; 
       outline:  1px solid #98A9BC  !important;
       border-radius:5px ;
}

.css-2b097c-container{
    border:none !important;
}
.css-2b097c-container:active{
  background-color:#98A9BC !important;
}
.css-2b097c-container:focus{
  background-color:#98A9BC !important;
}
.css-2b097c-container:active{
  background-color:#98A9BC !important;
}
.mils{
    display: inline;
}
.task-details{
  /* overflow-x: auto !important; */
}
.btns-in-view-details-task{
  /* margin-top:8vh  !important; */
}
.task-details > .form-group{
    /* margin-bottom: 0.5rem !important; */
  }
  .task-details > .dropdown{
z-index: 9999 !important; 
 }
.task-details .status-btn .save_canges_btn{
    z-index: 99999 !important;
}
.color-status-first{
  text-align: center;
  /* max-width: 90px !important; */
  width: 85px;
    /* /* width: 26px; */
    height: 25px; 
    color: white;
    border-radius: 19px;
    opacity: 1;
    display: inline-block;

}
.dropdown-toggle::after {
  /* float: right; */
  margin-top: 11px;

}

.btn-option-in-task{
  display: inline-block !important;
}
.btn-option-in-task div img{
  margin-left: 1vw;

}
.last-update{
  text-align:right !important;
}
.milestones-span{
  font-size:13px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 19px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 2.3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #00AEB5;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #00AEB5;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .descriptionTask{
    max-height: 15vh;
    height: auto;
    overflow: auto;
    min-height: 16vh;
    width: 97%;
    /* margin-left: 2%; */
  }
.assingto-task-hover{
  display: none;
}
.files-task-hover{
  display: none;
}
.priority-task-details .css-2b097c-container{
  background-color: #EDFBFC!important;
}