.details-task p{
    text-align: left !important;
}
.menu__{
    max-height: 115px;
    background-color: white;
    overflow-y: auto;
}
.status-btn{
    margin-top: 55px;
}
.create-label{
    margin-top: 1vh;
    margin-bottom: 5vh;

    width: 150px;
    /* background: var(--unnamed-color-75798e) 0% 0% no-repeat padding-box; */
/* background: #75798E 0% 0% no-repeat padding-box; */
border: 1px solid #707070;
opacity: 0.5;
border-top: 1px solid #707070;

}
.simpleTextarea{
    font-size: 24px;
    font-weight: 500;
    /* line-height: 15px; */
    min-height: 0;
    padding-bottom: 4px;
    padding-top: 4px;
}
.simpleTextarea.simpleTextarea--dynamic {
    border-color: transparent !important;
}
textarea{
    overflow:auto;
    text-rendering: optimizeSpeed;
    width: 100%;
    /* color: #98A9BC !important; */
}
textarea:focus{
       outline-color: #98A9BC !important; 
       outline:  1px solid #98A9BC  !important;
       border-radius:5px ;
}

.css-2b097c-container{
    border:none !important;
}
.task-details > .form-group{
    margin-bottom: 0.01rem !important;
  }
  .task-details > .dropdown{
z-index: 9999 !important;  }
.task-details .status-btn .save_canges_btn{
    z-index: 99999 !important;
}
.color-status-first{
    width: 26px;
height: 10px;
background: var(--unnamed-color-f13b7f) 0% 0% no-repeat padding-box;
background: #F13B7F 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
/* margin-top:1.5vh; */
/* vertical-align: middle; */
/* display: inline; */
}
.placehlder-first-status{
    display: inline-block;
}
.placehlder-first-status span{
    margin-left: 29px;
    /* margin-bottom: 1.5vh; */
}