/* .chartRow{
    height:30vh;
} */
.colorDiv{
    width: 100%;
}
.rect{
    background-color:green !important;
}
.colorName{
    font-size:1vw;
}
.chartCol{
    border: 0.1em solid rgb(204 238 240);
    border-radius: 1%;
}
.col-3>.chartCol{
    border-radius: 3%;
}
.bParam{
    font-size: 1.5rem;
    font-weight: 500;
}
.h100{
    height: 100%;
}