.chartContainer{
    background-color:#fff;
}
.colorDiv{
    width: 100%;
}
.chartCol{
    border: 0.1em solid rgb(204 238 240);
    border-radius: 1%;
    height:100%;
    width: 100%;
    padding: 2%;
}
.col-3>.chartCol{
    border-radius: 3%;
}
.bParam{
    font-size: 1.7rem;
    font-weight: 400;
    padding-left: 5%;
}
.MuiPaper-rounded{
    border-radius:0 !important;
}
.h100{
    height: 100%;
}
.sticks{
    height:45vh;
}
.barAndPie{
    height:60vh;
}
g g g g g text{
    font-size: 1.2vw !important;
}
.apexcharts-datalabels g text{
    font-size: 0.9vw !important;
}
.divProjectStatistics{
    background-color:white;
}
.apexcharts-title-text{
    font-size:1.2vw !important;
}
.h100 b:first-child{
    font-size:1vw;
}
foreignObject, #apexchartsbho0iybo, #SvgjsSvg1916, .apexchartsglem8ue1, #SvgjsSvg1401, .pChart, #apexchartsvtug7ujd, #SvgjsSvg1300 {
    width:100% !important;
    height: 100% !important;
}