
.arrow-down {
    width: 0 !important; 
    height: 0 !important; 
    border-top: 6px solid transparent !important;
    border-bottom: 6px solid transparent !important;
    border-left: 7px solid #979797 !important;
    display: inline-block;
    float: right; 
    /* margin-top: 4px;  */
}