
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.workspaceColor{
   width: 40px;
   height: 40px;
   border-radius: 16px;
   font-size: x-large;
   text-align: center;
   color:white;
   margin-top: auto;
}

.logoWorkspace{
    width: 54px;
    height: 54px;
   border-radius: 50%;
   font-size: x-large;
   color: white;
   letter-spacing: 1.72px;
   text-align: center;
   font-family: 'Roboto', sans-serif;
   font-size: xx-large;
     
}

.logoWorkspace:hover{
   color: var(--unnamed-color-ffffff);
   text-align: center;
   font: normal normal medium 41px/54px Roboto;
   letter-spacing: 1.72px;
   color: #FFFFFF;
   text-transform: uppercase;
   opacity: 1;
}

.cardWorkspace{
   width: 13rem;
   background: #F6F6FA;
   height: 10rem;
   margin-bottom: 10px;
   text-align: center;
   justify-content: center;
   align-items: center;
   border-radius: 10px;

}
.cardWorkspace:hover{
   background: #F6F6FA 0% 0% no-repeat padding-box !important;
   border: 1px solid #9DA0AF ‏;
   border-radius: 10px !important;
}

.checkWorkspace{
   margin-left: -128px;
}

.nameWorkspace{
   font: normal normal normal 16px/45px Roboto;
   letter-spacing: 0px;
   color: #1c1d21d5;
   text-transform: capitalize;
}

.nameWorkspace:hover{
   text-align: center;
   font: normal normal medium 20px/24px Roboto;
   letter-spacing: 0px;
   color: #1C1D21;
   text-transform: capitalize;
   opacity: 1;
}