<<<<<<< HEAD

.workspaceColor{
   width: 40px;
   height: 40px;
   border-radius: 16px;
   font-size: x-large;
   text-align: center;
   color:white;
   margin-top: auto;
=======
.workspace{
    width: 40px;
    height: 40px;
   border-radius: 16px;
   font-size: x-large;
   color: white;
     
>>>>>>> hub_
}