
.logoWorkspacelist{
    margin: auto !important;
    width: 2.5rem;
    height:2.5rem;
   border-radius: 50%;
 font-size: 1.6rem;
   
   
   color: white;
   letter-spacing: 1.72px;
   text-align: center;
   font-family: 'Roboto', sans-serif;
   margin-top: 2.2vh !important
   /* margin-top: 30px; */
   
}

.iconsAction{
    display: none;
}

.delete{
    cursor: pointer;
}
.edit{
    cursor: pointer;
       
}



.Workspace{
   width: 5rem;
   background: #F6F6FA;
   height: 5rem;
   text-align: center;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   margin-right: 1rem;
   cursor: pointer ;


}
.description-and-date{
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    font-size: small !important;
    text-align: left !important;
}

.workspace-name-list{
    margin-top:1vh;
    font-weight: 400;
    color: black !important;
    font-size: 17px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-inline-box;
    max-width: 54vw;
}
.WorkspaceList:hover{
  background-color:#F6F6FA;
}
.WorkspaceList{
    cursor: pointer ;
    border-bottom:#F6F6FA 1px solid ;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 8px;

    display: flex;
    justify-content:space-between; 
    width: 76vw;
}

.stripe{
    color:#F6F6FA ;
}
.icons-in-list-w{
}
.logo-w{
    width: 2.5rem;
  height:2.5rem;
 border-radius: 50%;
 font-size: 26px;
 color: white;
 letter-spacing: 1.72px;
 /* text-align: 30px; */
 font-family: 'Roboto', sans-serif;
 font-size: 1.6rem;
 /* margin-top: 30px; */
}




