
.logoWorkspacelist{
    margin: auto !important;
    width: 2.6rem;
    height:2.6rem;
   border-radius: 50%;
 font-size: 1.8rem;
   
   
   color: white;
   letter-spacing: 1.72px;
   text-align: center;
   font-family: 'Roboto', sans-serif;
   margin-top: 3vh !important;
   /* margin-top: 30px; */
   
}

.iconsAction{
    display: none;
}

.delete{
    cursor: pointer;
}
.edit{
    cursor: pointer;
       
}



.Workspace{
   width: 5rem;
   background: #F6F6FA;
   height: 5rem;
   text-align: center;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   margin-right: 1rem;
   cursor: pointer ;


}
.description-and-date{
    font-size: small !important;
    text-align: left !important;
}
.ul-workspace-list{
    /* line-height: ; */
}
.workspace-name-list{
    font-weight: 400;
    color: black !important;
    font-size: 17px;
}
.WorkspaceList:hover{
  background-color:#F6F6FA;
}
.WorkspaceList{
    cursor: pointer ;
    border-bottom:#F6F6FA 1px solid ;
    display: flex;
    justify-content:space-between; 
    width: 67vw;
}

.stripe{
    color:#F6F6FA ;
}
.icons-in-list-w{
}
.logo-w{
    width: 2.6rem;
  height:2.6rem;
 border-radius: 50%;
 font-size: 26px;
 color: white;
 letter-spacing: 1.72px;
 /* text-align: 30px; */
 font-family: 'Roboto', sans-serif;
 font-size: 1.8rem;
 /* margin-top: 30px; */
}




