
.logoWorkspacelist{
    width: 4rem;
    height:4rem;
   border-radius: 50%;
   font-size: 26px;
   padding-top: 8px;
   color: white;
   letter-spacing: 1.72px;
   text-align: center;
   font-family: 'Roboto', sans-serif;
   font-size: xx-large;
   margin: 8px;
   
     
}
.close_remove{
   background-color:  #F5F5F5;
   
  
}

.delete{
    cursor: pointer;
}
.edit{
    cursor: pointer;
       
}



.Workspace{
   width: 5rem;
   background: #F6F6FA;
   height: 5rem;
   margin-bottom: 10px;
   text-align: center;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   margin-right: 1rem;

}
.WorkspaceList:hover{
  background-color:#F6F6FA;
}
.WorkspaceList{
     border-bottom:#F6F6FA 1px solid ;
      display: flex;
  justify-content:space-between; 
}
.WorkspaceList
{
    width: 67vw;
}
.headerRemove{
    background-color:  #409500 ;
   height: 10px;

}
.close_toast{
    background-color: #F5F5F5;
    width: 18vw;
   
}
.close {
   display: none;
}





