
.body >.row{
/* padding-bottom: 5vh; */
    overflow-x: auto !important;
    white-space: nowrap !important;
    display: block;
}

.body > .row > .col-3 { 
    display: inline-block !important
    ; float: none !important; 
}
#add-card{
    /* margin-top: -5vh; */
}
a .add-card-tabs{
    text-align: center !important;
    color: var(--unnamed-color-34a38b);
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #34A38B;
    text-transform: capitalize;
    font-weight: bold;
}