@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
.view-cards-tabs .card-body{
     max-height:  80vh;/* בינתיים */
    /* background: transparent linear-gradient(360deg, #87C5FE30 0%, #ebfff8 100%) 0% 0% no-repeat padding-box; */
    background-color:#EDFBFC !important ;
    border-radius: 0px 0px 8px 8px;
    text-align: left;
    letter-spacing: 0px;
    color: #0A102E;
    overflow-y: auto;  

}

  .card-width{
    width: 20vw !important;
    display: inline-block ; 
  }


@media screen and (max-width: 700px) {


}


.card-body {
  padding: 1rem !important;
  /* padding-top: 0.5 !important; */
}
#add-new-card{
  background-color:  #EDFBFC  !important;

}
span:focus{
  outline: 0!important;
}
#input-card-name{
  font-size: medium;
  font-weight: bold !important;
  background-color:  #EDFBFC  !important;
}
.more {
  right: 6px;
  padding: 0px !important;
  min-width: min-content !important;
}
.view-cards-tabs .card-header{
    background-color: #EDFBFC !important;
    font-size: 16px;
    font-weight: 500;
}
.card-header{
  padding: 4px !important;
  border-bottom: none !important;
}
#task-card:hover{
  border-color:#52C4A9  !important;

}
.more{
    background-color: transparent;
    /* float: right !important; */
    color:#778ca2;
    /* margin-top: 1px; */
}
.more:focus{
    outline: 0;
}
.card-body .add-task-tabs, .card-body .add-card-tabs{ color: #34A38B !important;
  font: normal normal normal 18px/24px Rubik;
  opacity: 1 !important;
  cursor: pointer;
}
.add-task-tabs{
  text-decoration: none !important;
  font-weight: bold !important;
    font-size: 15px !important;
margin: auto !important;    
}
.allTaskInCard div{
  /* padding-right: 5px !important;
  padding-left: 5px !important; */
  min-height: 10px;

  /* margin-bottom: 9px; */
}
.allTaskInCard div:hover{
  border-color:#52C4A9  !important;

  }

.add-task-tabs:hover{
  color:black  !important;
}
.task-card{
  padding-top: 5px !important;
    background-color: white;
    min-height: 95px;
    /* height: 115px; */
    border-radius: 5px;
    position: relative !important;
}
.task-card:hover{
    border:1px solid #52C4A9!important;
}
.task-card input{
  /* margin-top:20px !important;  */

}
.task-card p{
    color:black !important;
    font-size: medium;
}

  .color-task{
    width: 60px;
    height: 7px;
    /* background-color:#F8B520; */
    border-radius: 4px;
    opacity: 1;
    margin-right: 10px;
    margin-top: 3vh;
}
.assing-icon{
  display: none; 
}

.card-header .form-control, .task-card .form-control
{
  color:black !important;
    border:none !important;
    outline: 0 !important;

}
.card-header .form-control{
  font-weight: 500 !important;
  border:none !important;
    outline: 0 !important;
}
.card-header .form-control:focus
{
   border: 1px solid #ced4da !important;
    /* border-radius: .25rem !important; */
}
.form-control:focus{
  text-shadow: none !important;
}

.task-card .status-task-in-progress{
    background-color:#FFD56D !important;

  }
  .task-card.status-task-to-do{
  
    background-color:#FD808B !important;
   

  }
 .task-card .status-task-done{

    background-color:transparent !important;
  
  }
  .MuiMenuItem-root{
      font-size: 0.9rem !important;
  }
  .view-cards-tabs .card-body::-webkit-scrollbar {
    background-color: #EDFBFC ;
    width: 6px;
  }
   
    /* Track */
    .view-cards-tabs .card-body::-webkit-scrollbar-track {
      border-radius: 10px;
    }
    .view-cards-tabs .card-body::-webkit-scrollbar-track:hover {
        box-shadow: inset 0 0 5px grey; 
      }
     
    /* Handle */
    .view-cards-tabs .card-body::-webkit-scrollbar-thumb { 
      border-radius: 15px;
    }
    
    /* Handle on hover */
    .view-cards-tabs .card-body::-webkit-scrollbar-thumb:hover {
      background: #919494; 
    }
    
    .hand-drag{
      display: inline-block;
      opacity: 0.5;
    }