.card-name{
    color: var(--unnamed-color-000000);
    text-align: left;
   font-size: medium;
    color: #000000;
    /* border-bottom: gray solid 1px; */
    background-color:transparent;
    border-bottom: 1px  solid #c7c6c6 ;

}
.triangle{
        width: 0; 
        height: 0; 
        border-left: 6px solid transparent;
        border-right: 6px solid transparent; 
        border-top: 6px solid black;
}
.show-card{
    background-color: transparent;
}
.show-card>div{
    display: inline-block;
}
.show-card:focus{
    outline: 0;
}
p{
    /* font-size: medium; */
    /* background-color: teal; */
    color:#98A9BC;
    /* padding-left: 6vw; */
    /* bottom:0; */
    margin-bottom: 0;
    /* margin-top: 2vh; */
}
.new-task{
    background-color: transparent;
}
.new-task:focus{
    outline: 0 !important;
}