.card-name{
    color: var(--unnamed-color-000000);
    text-align: left;
   font-size: medium;
    color: #000000;
    /* border-bottom: gray solid 1px; */
    background-color:#f9ffff;
    padding-top: 1vh;
    padding-bottom: 1vh;
    /* opacity: 0.1; */
    border-bottom: 1px  solid #98A9BC ;

}
/* .new-task-in-list{
    
} */
.title-table-in-list{
    width: 600px;
}
.newTriangle{
        width: 0; 
        height: 0; 
        display: inline-block;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent; 
        border-top: 6px solid black;
        cursor: pointer;
}
.triangle{
        width: 0; 
        height: 0; 
        display: inline-block;
        border-top: 6px solid transparent;
        border-left: 6px solid #000000;
        border-bottom: 6px solid transparent;
}
.wrap-triangle{
    display: inline-block;
    width: 6px; 
}
.show-card{
    background-color: transparent;
    border: none !important;
    outline: 0!important;
    width: max-content !important;
}
.title-card{
    display: inline !important;
    /* background-color: #E8EAEC; */
}
.show-card>div{
    display: inline-block;
}
.show-card:focus{
    padding-top:1px !important;
    padding-bottom: 1.5px;
    border-radius: 3px;
    border:1px  solid #00C1C9!important;
    /* border-radius: 2px !important; */
    /* border: 1px solid blue; */
}
.card-name >p{
   
    text-align: center;
}
p{ color:#98A9BC !important;
    margin-bottom: 0 !important;
    
}
.new-task{
    background-color: transparent;
     outline: 0 !important;
    border: none !important;
}

.new-task:focus{
    outline: 0 !important;
}
.show-card-no-pressure{
    pointer-events: none;
}
.show-card-pressure{
    cursor: pointer ;
}
.name-and-triangle{
    display: inline-block !important;
}

.scroll-container {
    overflow-y: scroll;
    scroll-behavior: smooth;
}
