 
.toast_delete {
    padding: 1rem;
    margin-top: -9rem;
    margin-left: 6rem;
    opacity: 1;
    background-image: url('../../img/toast-image.png');
  }

.toast_header{
  display: contents;
  color: #202224;
  border-bottom: none !important;
}

.div_btn_undo{
  text-align: right;
}


.btn_undo{
  border: none;
    background: none;
    color: var(--green);
}

