
.toast_delete {
  padding: 1rem;
  margin-top: -9rem;
  margin-left: 6rem !important;
  opacity: 1;
  background-image: url('../../../assets/img/toast-image.png');
}

.toast_header{
/* display: contents; */
display: inline-block;
color: #202224;
border-bottom: none !important;
}

.div_btn_undo{
text-align: right;
display: inline-block;
}
.object_name{
  display: inline-block;
}


.btn_undo{
  display: inline-block;
border: none;
  background: none;
  color: var(--green);
}
.button_close{
  background-color: #ffff;
}

