.div_share_with{
    width: 29vw;
height: 42vh;
background: #eaf8f2 0% 0% no-repeat padding-box;
border-radius: 3px;
/* opacity: 0.11; */
overflow-x: hidden;
/* position: relative; */
/* z-index: 0; */
/* top: 0;
left: 0; */
}
.txt_share{
    font: bold 16px/21px Roboto;
    color: #0A102E;
}
.txt_description_share{
    font: normal normal normal 14px/21px Roboto;
letter-spacing: 0.32px;
color: #75798E;
}
.txt_share_with{
  color:  #75798E
}
.btn_share{
    background-color: #1FB9C1;
    color: white;
    border-radius: 5px;
    width: 118px;
    height: 36px;
    font: normal normal 18px/24px Roboto;
}
.row_btn_share{
    float: right;
}