.viewMembersList{
    display:none;
}
.btnAddMembers{
    background-color:transparent;
    font-weight: 500;
    font-size:130%;
}
.btnAddMembers:hover{
    color:#38B1B5;
}
.cursorPoint{
    cursor: pointer !important;
}
.membersToAdd{
    width:30vw;
max-height: 40vh;    
overflow-y: scroll;
}
.membersToAdd{
    box-shadow: 0 0 0 0.1rem  #E9E9E9;

}
.inputSearch{
    background-color: #EDFBFC;
    border:none;
    width:100%;
    border-radius: 0.2em;

}
.inputAdd{
    border: none;
    background-color: #EDFBFC;
    border-radius:0.2em;

}
.inputSearch:focus, .inputAdd:focus{
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
.buttonAdd{
    background-color: rgb(153, 226, 229);
    border-radius: 0.2em;
}
.mailNotValid{
    width:96%;
}
.mailNotValid p{
    color:red;
}