
.stripeProject{
    display: inline-block;
    width: 7px;
    height: 16px;
    border-radius: 37%;
}
.nameProjectInList{
   padding-left: 2rem !important;
   width: 30%;
}

.projectForWorkspace,.projectForWorkspace td{
    border-top: none !important;
    border-bottom: 0.5px solid rgb(209, 207, 207);
}

.name2ProjectInList{
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    display: -webkit-box;
    margin-left: 13px !important;
    margin-top: -23px;
}
.widthCellInProject{
    width: 10%;
}
.stripeActionsProject{
    display: inline-block;
    margin-left: 7px;
    margin-right: 7px;
    font-size: x-large;
    color: white;
}

.iconsProject{
    height:1rem;
}
.iconActionProject{
    opacity: 0;
}
.actionsProject{
    text-align: center;
}

.designPropertiesProject{
    font-size: 16px
}
.dot {
    height: 7px;
    width: 7px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
  }
.divProgress{
    text-align: center;
}
.progressProject {
    display: inline-flex;
    height: 1rem;
    overflow: hidden;
    line-height: 0;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
    /* height: 5px; */
    height: 9px;  
    width:  64% 
    
}
.progressProject-bar {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    transition: width .6s ease;
}
.projectForWorkspace{
    cursor: pointer ;
}
.projectForWorkspace:hover{
    background-color: rgba(0,0,0,.075);
}

.projectForWorkspace  td, .projectForWorkspace th {
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}

.projectForWorkspace td{
    font-family: Roboto;
}

.task{
    display: block !important;
    width: 100% !important;
    text-align: center;
}