
.stripeProject{
    display: inline-block;
    width: 7px;
    height: 16px;
    border-radius: 37%;
}
.nameProjectInList{
   padding-left: 2rem !important
}
.dot {
    height: 5px;
    width: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
  }
.divProgress{
    text-align: center;
}
.progressProject {
    display: inline-flex;
    height: 1rem;
    overflow: hidden;
    line-height: 0;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
    height: 5px;  
    width:  64% 
    
}
.progressProject-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    transition: width .6s ease;
}
.projectForWorkspace{
    cursor: pointer ;
}
.projectForWorkspace:hover{
    background-color: rgba(0,0,0,.075);
}

.projectForWorkspace  td, .projectForWorkspace th {
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}

.projectForWorkspace td{
    font-family: Roboto;
}

.task{
    display: block !important;
    width: 100% !important;
    text-align: center;
}