.view-details{
background-color: white ;
/* box-shadow: -5px 0px 40px #0000002C; */
border-radius:5px;
opacity: 1;
position: absolute !important;
height:96.5vh;
top:0;
right: 0;
z-index: 999;
border-left: 9px solid   hsla(178, 51%, 41%, 1)  ;
margin-right: 5px !important;
overflow-x: hidden !important;
margin-top: 14px;
}
@media screen and (min-width: 1550px) {
  
    .view-details{
      height: 97vh !important;
    }
  
  }
.inputTextproject{
    background-color: var(--light-light-blue);
    color: black;
}
.close{
    cursor: pointer;
    font-weight: 100;
}

.errorNameEmpty{
    border-bottom: 1px solid red !important;
}

.propertiesViewDitails{
    cursor: auto;
    max-height: 83vh;
    height: 83vh;
    overflow: auto;
    overflow-x: hidden !important;
    padding-bottom: 0px !important;
}
.propertiesViewDitails::-webkit-scrollbar {
  display: none ;
}

.propertiesViewDitails .headerDitails{
  border-bottom: 1px solid #707070
}

.ditailsAction{
   margin-bottom: 0px
}