.view-details{
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: white 0% 0% no-repeat padding-box;
box-shadow: -5px 0px 40px #0000002C;
border-radius: 12px;
opacity: 1;
position: absolute;
height:90vh;
top:0;
right: 0;
z-index: 999;
border-left: 9px solid   var(--light-light-blue);

}
.inputTextproject{
    background-color: var(--light-light-blue);
    color: black;
}
.close{
    cursor: pointer;
    
}