#dropdown-basic {
background-color:transparent !important;
border-color: #979797 !important;
color: #979797;
text-align: left !important;
}

.dropright .dropdown-toggle::after {
    display: block !important;
    transform: rotate(180deg) !important;
    float:right !important

}
button{
    text-align: left !important;
}
.btn-outline-secondary :focus{
    box-shadow: none !important;
}

li{
    list-style-type: none;
    color: white;
    text-align: left !important;
}
button{
    border: none;
    
}
button:hover{
    background-color: transparent !important;
}
input{
    display: none;
    background-color: transparent!important;
    /* border: ; */
}
.icon{
    color: #b9b9b9!important;

    
}
.search{
    display: none;
   }
.input-group-text{
    background-color: transparent !important;
    border-right: none !important;

}

.form-control{
    border-left: none !important;

}

.arrow-down {
    width: 0; 
    height: 0; 
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 7px solid #979797;
    display: inline-block;
    float: right; 
    /* margin-top: 4px;  */
}
