#dropdown-basic {
background-color:transparent !important;
border-color: #979797 !important;
color: #979797;
text-align: left !important;
}

.dropright .dropdown-toggle::after {
    display: block !important;
    transform: rotate(180deg) !important;
    float:right !important

}
button{
    text-align: left !important;
}
.btn-outline-secondary :focus{
    box-shadow: none !important;
}

li{
    list-style-type: none;
    color: white;
    text-align: left !important;
}
button{
    border: none;
    
}
button:hover{
    background-color: transparent !important;
}
input{
    background-color: transparent!important;
    /* border: ; */
}
.icon{
    color: #979797!important;
    transform: rotate(90deg);
    display: none;
    
}
input{
    display: none;
    float: right;
}
#search{
    height: 3vh;
}

