.iframeHangout{
    height:80%;
    border: none;
    z-index: 101;
    right:2% ; 
    position: fixed; 
    bottom: 0%;
 }  
    /* position: absolute;
    right:calc(5% + 4vw) ;
    margin-bottom: 10px; */


.btn-show-chat{
    background-color: transparent;
    background-image: url(../../../img/btn-chat.svg);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    width: 5vw;
    height: 5vw;
    position: fixed;
    bottom: 4%;
    right: 2%;
    z-index: 100;
    transition: background-image 0.5s;
}
.btn-show-chat:hover{
    background-image: url(../../../img/btn-chat-hover.svg);
}