.iframeHangout{
    height:63vh !important;
    width: 100%;
    border: none;
    overflow: hidden;
 }  
 .wrap-iframe{
    /* height:58vh; */
    width: 100%;
    position: relative;
 }
    /* position: absolute;
    right:calc(5% + 4vw) ;
    margin-bottom: 10px; */
  

.btn-show-chat{
    background-color: transparent;
    background-image: url(../../../../assets/img/btn-chat.svg);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    width: 5vw;
    height: 5vw;
    position: fixed;
    bottom: 4%;
    right: 2%;
    z-index: 100;
    transition: background-image 0.5s;
}
.btn-show-chat:hover{
    background-image: url(../../../../assets/img/btn-chat-hover.svg);
}