/* .show-tasks{
   /* font-size: medium; */
/* } */ 
/* The container */
.check-task:first-child {
    color: #778CA2;
    cursor: pointer;
  }
  .check-task button {
    color: #778CA2;
    background-color: transparent;
  }

  .check-task button:focus{
    outline: 0;
  }
  .check-task:first-child{
    text-align: left !important;
    padding-left: 3vw;
  }
  .check-task:nth-child(2){
    text-align: left !important;
  }
  .check-task:nth-child(3){
    text-align: right !important;
  }
  .check-task{
    font-size: 14px;
    margin-bottom: 0px !important;
  }
  
  /* Hide the browser's default checkbox */
  .check-task input {
    /* position: absolute; */
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 7px;
    left: 0;
    height: 23px;
    width: 23px;
    background-color: #eee;

    border: 1px solid var(--lighat-blue);
    border-radius: 50%;


  }
  
  .check-task:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .check-task input:checked ~ .checkmark {
    background: transparent linear-gradient(270deg, #44D7B6 0%, #329A80 100%) 0% 0% no-repeat padding-box;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .check-task input:checked ~ .checkmark:after {
    display: block;
  }
  .close-details{
    width: 0 !important;
  }
  /* Style the checkmark/indicator */
  .check-task .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .show-task{
    background-color: transparent !important;
  }
  label{
    text-align: center;
  }
  /* .status-task{
    background: var(--unnamed-color-fe4d97) 0% 0% no-repeat padding-box;
    background: #ffa5ca 0% 0% no-repeat padding-box;
    border-radius: 3px;
    color:#FE4D97 !important;
    font-weight: 300;
    opacity: 0.9;
    margin: auto;
  
  } */
  .status-task-in-progress{
    background: var(--unnamed-color-fe4d97) 0% 0% no-repeat padding-box;
    background: #F0D923 0% 0% no-repeat padding-box;
    border-radius: 3px;
    color:#BDAA1C !important;
    font-weight: 300;
    opacity: 0.9;
    margin: auto;
    width: 75%;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    opacity: 0.6;
    font-weight: 400;

  }
  .status-task-to-do{
    background: var(--unnamed-color-fe4d97) 0% 0% no-repeat padding-box;
    background: #ffb6d0 0% 0% no-repeat padding-box;
    border-radius: 3px;
    color:#BF2E63 !important;
    font-weight: 300;
    opacity: 0.9;
    margin: auto;
    width: 75%;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    opacity: 0.9;
    font-weight: 400;

  }
  .status-task-done{
    background: var(--unnamed-color-fe4d97) 0% 0% no-repeat padding-box;
    background:#D9F7F0 0% 0% no-repeat padding-box;
    border-radius: 3px;
    color:#34A38B !important;
    font-weight: 300;
    opacity: 0.9;
    margin: auto;
    width: 75%;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
        /* opacity: 0.6; */
        font-weight: 400;


  }
.closeDet{
  width: 0 !important;
}
.animation{
  height: 0;
}
.dnd-icon{
  opacity: 0;
  /* display: none; */
}
