.left_nav{
  width: 90px;
  height: 90vh;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  margin: 0px -1050px;
  
 }

.aicon{
 width: 50px;
height: 50px;
background: #E8EAEC 0% 0% no-repeat padding-box;
opacity: 1;
border-radius: 100px;
margin: 16px 0px;
text-align: center;
 }
 .imgaicon{
   margin: 10px;
 }