.toastDeleteOnStage{
margin-top: 75vh;
position: fixed;
margin-left: 8vh;
}

.bodyHub {
    margin-top:24px !important;
}
.back-screen{
    background-color: #E8EAEC !important;
}

#cdggdfdfb{
    margin-top: 100px;
    margin-left: 400px;
}

