.toastDeleteOnStage{
margin-top: 75vh;
position: fixed;
margin-left: 8vh;
}

.bodyHub {
    padding-right:10px ;
    margin-top: 10px;
    flex: 0 0 85%;
    max-width: 85%;
    /* margin-left: 16px; */
}
.font-logo-header{
    color:white;

}
@media screen and (min-width: 1550px) {
    .icons-header{
      margin-left:1000px;
    }
  }
  @media screen and (min-width: 700px) {
    .icons-header{
        margin-left:505px;
    }
  }
 
  @media screen and (min-width: 1150px) {
    .icons-header{
        margin-left:1000px;
    }
  }
.icons-header img{
margin-left:15px;
}
.icons-header{
    margin-right:5px; 
}

.headerLeaderHub{
    background-color: #1FB9C1;
    box-shadow: 0px 3px 6px #00000029;
    padding-top: 8px;
    /* height: 40px; */

    /* display: flex; */
    /* height: 0px; */
}
.icons-header{
}
.headerLeaderHub .LC_imageUser{
    position: absolute;
    right: 21px;
    top: 18px;
    z-index: 199;
    cursor: pointer;
}
.back-screen{
background-color: #E8EAEC !important;
/* height: 100vh; */
}
.configuratorBlue{
    flex: 0 0 15%;
    max-width: 15%;
    padding-right: 10px;

/* padding: 0; */
}

#cdggdfdfb{
margin-top: 100px;
margin-left: 400px;
}



.divtext {
border: ridge 2px;
padding: 5px;
width: 20em;
min-height: 5em;
overflow: auto;
}


    
.calender-tabs{
    z-index: 9999999; 
    position: relative;  
    /* top:100px;
    left:100px */
}
