body{
  background-color: #E8EAEC;
  overflow-x: hidden;
  overflow-y: hidden;
}

:root {
  --lighat-blue: #1e90ff;
  --light-light-blue:#44D7B6;
  --white: #ffffff;

}





 





