body{
  background-color: #E8EAEC;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}
button{
  outline: 0 !important;
  border: none !important;
}
:root {
  --lighat-blue: #1e90ff;
  --light-light-blue:#44D7B6;
  --white: #ffffff;
  --green:#34A38B;
}
.save_canges_btn{
  /* width: 118px; */
height: 40px;
background-color:var(--light-light-blue);
border-radius: 5px;
opacity: 1;
color:white;
text-align: center !important;
}
.delete-btn{
height: 40px;
background-color:#F6F6FA;
border-radius: 5px;
color:#75798E;
text-align: center !important;

}
.btns-in-view-details-workspace{
margin-top: 20vh;}
.btns-in-view-details-project{
  margin-top: 12vh;
}

.details label{
color:#75798E !important;
}




 





