.logicon{
    height: auto;
    width: 70%;
}

.logColIcon{
    padding-right: 1%;
    padding-left:5%;
}

.logSchemaName{
    font-weight: 500;
    font-size: small;
    padding: 0;
}

.logUser{
    color: #6CBAFF;
    font-size: small;
    margin-left: 15%;
}

.logsHeder{
    border-bottom: 1px solid ;
    border-color: #F5F4F4;
}

.logDate{
    font-size: xx-small;
    margin-right: 0vw;
    padding: 0;

}

.logsContainer{
    width: 100%;
    padding-right: 0;
}

.logsDashed{
    border-right: 1px dashed;
    color: #98A9BC;
    height: 45px;
    margin-left: 2.6vw;
}

.logRowOne{
    width: 100%;
    margin:0;
}

.logTaskName{
    font-size: small;
    margin-left: 15%;
}

@media screen and (max-width: 1300px) {
    .logsDashed{
        margin-left: 2.6vw;
    }
}

@media screen and (max-width: 1100px) {
    .logsDashed{
        margin-left: 2.8vw;
    }
}

@media screen and (max-width: 989px){
    
    .logsDashed{
        margin-left: 7vw;

        
    }
}

@media screen and (max-width: 500px){
    
    .logsDashed{
        margin-left: 7.5vw;
    }
}
