.body{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto!important;
}
.body-workspace{
  height: 87vh;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
  overflow: auto;
  overflow-x: hidden;
}