.body{
    /* width:60vw; */
    height:85vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
    /* margin:0px 150px; */
    /* margin: 0px -40px; */
  }