.addMembers{
    border-radius:50%;
    border:1px dashed #75798E;
    background: #F6F6FA;
    text-align: center;
    cursor: pointer;
    width: 100%;
    padding-top: 100%;
    position: relative;
    /* height: ; */
    
}
.membersFont{
    color:#75798E;
}

.fontAddMembers{
    color:#75798E;
    font-size:4vw;
    font-weight:600;
    height: 0px;
    position: absolute;
    top:44%;
    
}
.divAddMembers:hover .fontAddMembers ,.divAddMembers:hover .membersFont {
    color:#38B1B5;
    cursor: pointer;
}
.divAddMembers:hover .addMembers{
    border-color:#38B1B5;
}




