.addMembers{
    border-radius:50%;
    border:1px dashed #75798E;
    background: #F6F6FA;
    text-align: center;
    cursor: pointer;
    width: 3vw;
    height: 3vw;
}
.fontAddMembers{
    color:#75798E;
    font-size:4vw;
    font-weight:600;
    height: 100%;
}
.divAddMembers:hover , .divAddMembers:hover .fontAddMembers {
    color:#38B1B5 !important;
    cursor: pointer;
}
.divAddMembers:hover .addMembers{
    border-color:#38B1B5
}



