.fontAddMembers{
    color:#75798E;
    font-size:2vw;
}
.MembersFont{
    color:#3A405E
}
.scrollbarMembers{
    overflow-y: auto;
}
.fontImgMembers{
    font-size:2vw;
}
.emailMembers{
    width: fit-content !important;
}
.imgMembers{
    width: 100%;
    height: auto;
}
.nameMembers{
    font-weight: bold;
}
.backgroundWhiteAndBorderRadius{
    border-radius: 0.2em;
    background-color: white;
}