.divProjectMembers{
    border-bottom:1px solid #E9E9E9;
    /* height: 10vh; */
    align-items: center;
} 
/* .addMembers{
    border-radius:50%;
    border:1px dashed #75798E;
    width: 5rem;
    background: #F6F6FA;
    height: 5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    cursor: pointer;
} */
.fontAddMembers{
    color:#75798E;
    font-size:2vw;
}
.MembersFont{
    color:#3A405E
}
.scrollbarMembers{
    overflow-y: auto;
    height: 200px;
}
.fontImgMembers{
    font-size:4vw;
}
.emailMembers{
    width: fit-content !important;
}
.imgMembers{
    width: 3vw;
    height: 3vw;
}


.nameMembers{
    /* text-align: left; */
    font-weight: bold;
}
.scrollbarMembers::-webkit-scrollbar-thumb ,.scrollbarMembers:hover::-webkit-scrollbar-thumb {
    background-color: #99E2E5 ;
/* scrollbar-color:#99E2E5 #EDF5F8 ; */
}
.scrollbarMembers::-webkit-scrollbar-track{
background-color:#EDF5F8
}
.scrollbarMembers::-webkit-scrollbar-track:hover{
    background-color:#EDF5F8;
    box-shadow:none;
}

.backgroundWhiteAndBorderRadius{
    background-color:white;
    border-radius:2%;

}
